// Custom styles.
//自定义样式
.post
  margin-bottom: 100px;
  padding: 25px;
  -webkit-box-shadow: 0 0 14px #cacbcb;
  -moz-box-shadow: 0 0 14px #cacbcc;
  background: rgba(255,255,255,.3);

.posts-expand .post-title,
.posts-expand  .post-meta
.post-button.text-center
  text-align: center;

.post-button.text-center
  a
    padding-left:.2rem;